#

[Unit]
Description = Scrapes weather data from SDGE Weather site.
Wants = sdgescrape.timer

[Service]
Type = oneshot
ExecStart = /home/kjolley/html/altgnat/sdgeweatherscrape/scrape.sh

[Install]
WantedBy = multi-user.target
