[Unit]
Description = Scrapes weather data from SDGE Weather site.
Requires = sdgescrape.service

[Service]
Type = oneshot
ExecStart = /home/kjolley/html/altgnat/sdgeweatherscrape/scrape.sh
#User = dedicated-user
#Group=dedicated-user

[Install]
WantedBy = timers.target
